.App {
  text-align: center;
}
.button-container {
  display: flex;
  gap: 20px; /* Adjust the value to control the spacing between the links */
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #0056b3;
}
